
{{define "aws"}}

<html>
<head>

    <title> GO Tooling on AWS by https://github.com/Abdul2/GoAWS </title>

<style>

    {{template "pagelayout"}}
    {{template "tablestyle"}}

</style>



</head>

<body>

<div id="container">

    <div id="header">

        <h1>AWS </h1>

    </div>

    <div id="content">

        <div id="main">


            <table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

                <!-- Table Header -->
                <thead>
                <tr>
                    <th>No</th>
                    <th>Instance Type</th>
                    <th>Architecture</th>

                </tr>
                </thead>
                <!-- Table Header -->

                <!-- Table Body -->
                <tbody>

                {{range .}}

                <tr class="even">

                    <td>{{.Counter}}</td>
                    <td>{{.InstanceType}}</td>
                    <td>{{.Architecture}}</td>

                </tr>

                {{end}}


                </tbody>
                <!-- Table Body -->

            </table>

        </div>

    </div>

    <div id="footer">

        by : Go Tooling on AWS Abdul Abdi <br>
        https://github.com/Abdul2/GoAWS
    </div>


</div>

</body>

</html>

{{end}}